@font-face{
    font-family: "Avenir Next";
    src: url(../static/fonts/AvenirNextCyr-Regular.woff);
}

@font-face{
    font-family: "Avenir Next";
    src: url(../static/fonts/AvenirNextCyr-Medium.woff);
    font-weight: 400;
}

@font-face{
    font-family: "Avenir Next";
    src: url(../static/fonts/AvenirNextCyr-Bold.woff);
    font-weight: 600;
}

@font-face{
    font-family: "Avenir Next";
    src: url(../static/fonts/AvenirNextCyr-Heavy.woff);
    font-weight: 700;
}